@import url("../styles/style_meta_vendas.css");
@import url("../styles/style_meta_empilhado.css");

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #dddddd 20%, #444444 60%, #000000 100%) !important;
  color: white;
}